body{
    background-color: black;
    font-family: Gill Sans;
    color: white;
    
}
nav > a{
    display: flex;
    width: 100px;
    border: solid fuchsia;
    border-width: 5px;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    font-size: larger;
    margin: 15px;
    margin-bottom: 15px;
}
.Jack{
    position:absolute;
    top: 0px;
    right:0px;
    width:250px;
    border-radius: 50% 0 0 50%;
    border: solid fuchsia;
    border-style: double;
    border-width: 25px;
}
.LinkedIn{
    width: 100px;
    height: 100px;
}


